<!-- to hide from django, wrap with {#% %#} -->
{% extends 'blog_app/base.html' %}
{%load static %}
{% block content %}

{% if form.errors %}
    <p>Your name and/or password did not match. Please try again.</p>
{% endif %}

<P>To access blog publishing feature of this site you must be logged in.</P>
<form method="post" action="{% url 'users:login' %}">
    {% csrf_token %}
    {{ form.as_p}}

    <button name="Submit"> Log In</button>
    <!-- upon success send the logged in user to the home page -->
    <input type="hidden" name="next" value="{% url 'blog_app:index' %}" />
</form>

{% endblock content %}
