/* adhamlin  - css for django blog final project*/

body {
    margin: 15px 0 0 60px;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;

}

.bdy_bkg_shape {
    background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg width='120' height='120' viewBox='0 0 120 120' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 0h2v20H9V0zm25.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm-20 20l1.732 1-10 17.32-1.732-1 10-17.32zM58.16 4.134l1 1.732-17.32 10-1-1.732 17.32-10zm-40 40l1 1.732-17.32 10-1-1.732 17.32-10zM80 9v2H60V9h20zM20 69v2H0v-2h20zm79.32-55l-1 1.732-17.32-10L82 4l17.32 10zm-80 80l-1 1.732-17.32-10L2 84l17.32 10zm96.546-75.84l-1.732 1-10-17.32 1.732-1 10 17.32zm-100 100l-1.732 1-10-17.32 1.732-1 10 17.32zM38.16 24.134l1 1.732-17.32 10-1-1.732 17.32-10zM60 29v2H40v-2h20zm19.32 5l-1 1.732-17.32-10L62 24l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM111 40h-2V20h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zM40 49v2H20v-2h20zm19.32 5l-1 1.732-17.32-10L42 44l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM91 60h-2V40h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM39.32 74l-1 1.732-17.32-10L22 64l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM71 80h-2V60h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM120 89v2h-20v-2h20zm-84.134 9.16l-1.732 1-10-17.32 1.732-1 10 17.32zM51 100h-2V80h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM100 109v2H80v-2h20zm19.32 5l-1 1.732-17.32-10 1-1.732 17.32 10zM31 120h-2v-20h2v20z' fill='%2399ac77' fill-opacity='0.23' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.header {
    padding: 10px 0 0 50px;
    text-align: left;
    text-shadow: 3px 3px 3px #111,
    /* create text outline with the drop shadow */
    -1px -1px 0 #111,
    1px -1px 0 #111,
    -1px 1px 0 #111,
    1px 1px 0 #111;

    background: #D6C59B;
    color: white;
    font-size: 21px;
    white-space: nowrap;
    border-radius: 500px 0 0 0;
    min-height: 5rem;
}

.header_base {
    padding: 10px 0 0 90px;
    text-align: left;
    background: #99AC77;
    border-radius: 0 0 0 500px;
    min-height: 5rem;
    margin-bottom: 15px;
}

hr.hoz_black_line {
    border: 5px solid #333;
    border-radius: 0 0 0 0;
    margin: 0 0 0 0;
    top: 0;
}

hr.hoz_black_thin {
    border: 1px solid #333;
    border-radius: 0 0 0 0;
    margin: 0 0 0 0;
    top: 0;
}

hr.hoz_ac_line {
    border: 3px solid #333;
    border-radius: 0 0 0 0;
    margin: 0 0 0 0;
    top: 0;
}

hr.hoz_P_line {
    border: 6px solid #C59AD6;
    border-radius: 0 0 0 0;
    margin: 0 0 0 0;
    top: 0;
}

hr.hoz_P_thin {
    border: 1px solid #C59AD6;
    border-radius: 0 0 0 0;
    margin: 0 0 0 0;
    top: 0;
}

/* Navbar container */
.navbar {
    margin-top: 5px;
    padding: 0px 0 0 60px;white-space: nowrap;
    overflow: hidden;
    background-color: #333;
    border-radius: 500px 0 0 0;

}

/* Links inside the navbar */
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}

a:hover {
    color: white;
    background-color: #C59AD6;
    text-decoration: none;
}

.user_auth_display {
    float: right;
    background-color: #99AC77;
    pointer-events: none;
    cursor: default;
    border-radius: 0 0 10px 10px;
}

.dead_nav_space {
    pointer-events: none;
    cursor: default;
    white-space: nowrap;
}

/* content control */
.outerContainer {
    display: block;
    background-color: white;
    border-left: 20px solid #333;
    border-right: 0;
    border-bottom: 20px solid #333;
    height: 100%;
    top: 0;
}

.innerContainer {
    padding: 15px 0 15px 35px;
    min-height: 560px;
    margin-right: 65px;
    margin-bottom: 25px;
    background-color: white;
}

/* Bus card list items */
.cards > ul {
    list-style: none;
}

.card + .card {
    margin-top: 1.5rem;
}

@supports (display: grid) {
    .cards > ul {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
        grid-column-gap: 1.5rem;
        grid-row-gap:1.5rem;
    }

    .card + .card {
        margin-top: 0;
    }
}

.card {
    border: 1px solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: rgba(230,215,180,0.2);
}

.card .text {
    padding: 1rem;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.card p {
    max-width: 65ch;
}

.card .img {
    height: 6.5rem;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 1rem));
}

.card .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(10%) contrast(125%) sepia(20%);

}

.card a {
    text-decoration: none;
}

.card a::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.card a:focus {
    outline: none;
    text-decoration: underline;
}

.card:focus-within, .card:hover {
    box-shadow: 0 0 0 0.25rem;
}

.card:focus-within a:focus {
    text-decoration: none;
}

.card small {
    display: block;
}

.card .text > * + * {
    margin-top: 0.75rem;
}

.card .text > :last-child {
    margin-top: auto;
    padding-top: 0.75rem;
}

/* footer */
.footer_cap {
    min-height: 20px;
    background: #D6C59B;
}

.footer {
    margin-bottom: 15px;
    padding: 15px 0 15px 60px;
    text-align: left;
    background: #99AC77;
    color: white;
    font-size: 10px;
    border-radius: 0 0 0 500px;

    text-shadow: 1px 1px 1px #111,
    /* create text outline with the drop shadow */
    -1px -1px 0 #111,
    1px -1px 0 #111,
    -1px 1px 0 #111,
    1px 1px 0 #111;
}

