

body {
    margin: 20px 20px 10px;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}

.header {
    padding: 5px 38px 5px;
    text-align: left;
    background: #349dc7;
    color: white;
    font-size: 20px;
    border-radius: 10px 10px 0px 0px;
}

/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #333;

}

/* Links inside the navbar */
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

a:hover {
    color: white;
    background-color: #349dc7;
    text-decoration: none;


}

.user_auth_display {
    float: right;
    background-color: #349dc7;
    pointer-events: none;
    cursor: default;
    border-radius: 0px 0px 10px 10px;
}

.dead_nav_space {
    pointer-events: none;
    cursor: default;

}
