

body {
    margin: 20px 20px 10px;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}

.header {
    padding: 5px 38px 5px;
    text-align: left;
    background: #349dc7;
    color: white;
    font-size: 18px;
    border-radius: 10px;
}

a:hover {
    color: white;
    background-color: #349dc7;
    text-decoration: none;
}