{% extends 'blog_app/base.html' %}
{%load static %}
{% block content %}
<div>
    <h3>Blog Topics</h3>
</div>
<div>
<ul>
    {% if request.user.is_authenticated.is_owner %}
        {% for topic in topics %}
            <li>
                <a href="{% url 'blog_app:topic' topic.id %}">{{ topic }}</a>
            </li>
        {% empty %}
            <li>No Blog Topics have been added yet.</li>
        {% endfor %}
    {% else %}
        {% for topic in topics %}
            <li>
                <a href="{% url 'blog_app:pub_topic' topic.id %}">{{ topic }}</a>
            </li>
        {% empty %}
            <li>No Blog Topics have been added yet.</li>
        {% endfor %}
    {% endif %}
</ul>
</div>
{% endblock content %}
